.pop-up{
    display: none;
    width: 80vw;
    height: 350px;
    margin-top: 20px;
    margin-left:10vw;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    background-color:white;

    >button{
        width: 25px;
        margin-top: 10px;
        margin-left: 90%;
    }

    h2{
        text-align: center;
        margin: 0 auto;
    }
    
    >form{
        padding-top:5%;
        display: flex;
        flex-direction: column;
        
        >input{
            width: 80%;
            margin: 20px auto;
        }
        >select{
            width: 60%;
            margin: 0 auto;
        }

    }
}

@media (min-width:1024px) and (orientation: landscape){
    .pop-up{
         width: 35vw;
         margin-left:32.5vw;
    }
}