#menu{
    display: none;
    width: 100%;
    background: rgb(87, 69, 255);
    z-index: 2;
    position: absolute;

    >button{
        display: block;
        margin: 0 auto;
        width: 150px;
        height:45px;
    }

}