#header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #7474ff; }
  #header > h2 {
    margin: 0;
    font-size: 1rem; }
  #header > div > button {
    width: 75px;
    font-size: 0.75rem;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #999999; }
    #header > div > button:hover {
      border: 2px solid white; }
  #header > div > #add-income-btn {
    background-color: #07ce00;
    margin-right: 10px; }
  #header > div > #add-expense-btn {
    background-color: #ff3535; }

@media (min-width: 1024px) and (orientation: landscape) {
  #header h2 {
    font-size: 2rem; }
  #header > button {
    display: none; }
  #header > div > button {
    width: 120px;
    height: 50px; } }
#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto; }

#menu {
  display: none;
  width: 100%;
  background: #5745ff;
  z-index: 2;
  position: absolute; }
  #menu > button {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 45px; }

@media (min-width: 1024px) and (orientation: landscape) {
  #menu {
    display: none; } }
.pop-up {
  display: none;
  width: 80vw;
  height: 350px;
  margin-top: 20px;
  margin-left: 10vw;
  border: 2px solid black;
  border-radius: 25px;
  position: absolute;
  background-color: white; }
  .pop-up > button {
    width: 25px;
    margin-top: 10px;
    margin-left: 90%; }
  .pop-up h2 {
    text-align: center;
    margin: 0 auto; }
  .pop-up > form {
    padding-top: 5%;
    display: flex;
    flex-direction: column; }
    .pop-up > form > input {
      width: 80%;
      margin: 20px auto; }
    .pop-up > form > select {
      width: 60%;
      margin: 0 auto; }

@media (min-width: 1024px) and (orientation: landscape) {
  .pop-up {
    width: 35vw;
    margin-left: 32.5vw; } }
#list h1 {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: black 1px solid; }
#list > div {
  display: flex;
  justify-content: space-evenly; }
  #list > div > .partial-list {
    width: 45%;
    text-align: center; }
    #list > div > .partial-list h2 {
      margin: 10px; }
    #list > div > .partial-list > ul {
      margin: 0;
      padding-left: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      list-style: none;
      border-bottom: 2px solid black; }
  #list > div > #incomes-list {
    background-color: rgba(110, 255, 110, 0.404); }
    #list > div > #incomes-list > ul {
      background-color: rgba(110, 255, 110, 0.404); }
  #list > div > #expenses-list {
    background-color: rgba(255, 116, 116, 0.404); }
    #list > div > #expenses-list > ul {
      background-color: rgba(255, 116, 116, 0.404); }

#overview h1 {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: black 1px solid; }
#overview > div {
  display: flex;
  justify-content: space-evenly; }
  #overview > div > .partial-list {
    width: 45%;
    text-align: center; }
    #overview > div > .partial-list h2 {
      margin: 10px; }
  #overview > div > #incomes-OV {
    background-color: rgba(110, 255, 110, 0.404); }
  #overview > div > #expenses-OV {
    background-color: rgba(255, 116, 116, 0.404); }

#content > #charts {
  display: none; }
  #content > #charts .chartDiv {
    width: 450px;
    height: 350px;
    margin: 0 auto; }
  #content > #charts h2 {
    margin-top: 50px;
    text-align: center; }

@media (min-width: 1024px) and (orientation: landscape) {
  #content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    #content > div {
      width: 45%; }
    #content > #charts {
      display: block;
      width: 45%; } }

/*# sourceMappingURL=index.css.map */
